/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Defaults */

body {
  font-family: Avenir Next, sans-serif;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

p {
  font-size: .75em;
  margin: 1em 0;
}

/* Grid */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: [hero-start] 50vh [hero-end clients-start] 10vh [clients-end intro-start] 50vh [intro-end features-start] 80vh [features-end uses-start] 60vh [uses-end testimony-start] 80vh [testimony-end sign-up-start] 70vh [sign-up-end];
}

/* Hero */

.hero {
  grid-column: 1 / -1;
  grid-row: hero;
  display: grid;
  grid-template-rows: inherit;
  grid-template-columns: inherit;
  align-items: center;
  background-image: linear-gradient(to right, #3fccbb, #31a2bb);
  max-width: 100%;
}

.hero-image {
  grid-column: 1 / 10;
  grid-row: hero;
  overflow: hidden;
  height: 100%;
}

.hero-image img {
  height: 100%;
  max-width: 100%;
  position: relative;
  left: -10px;
  object-fit: cover;
}

.hero-text {
  grid-column: 7 / -1;
  grid-row: hero;
  z-index: 1;
  color: #ffffff;
}

.hero-text p {
  width: 50%;
}

.hero-text button {
  padding: 10px 42px;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  color: #31a2bb;
}