/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Defaults */

body {
  font-family: Avenir Next, sans-serif;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h4 {
  font-size: 1.1em;
  margin: 1.33em 0;
}

p {
  font-size: .75em;
  line-height: 2;
  margin: 1em 0;
}

/* Grid */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: [hero-start] 50vh [hero-end clients-start] 10vh [clients-end intro-start] 50vh [intro-end features-start] 70vh [features-end uses-start] 40vh [uses-end testimony-start] 50vh [testimony-end sign-up-start] 45vh [sign-up-end];
}

.row-1-2 {
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 50%);
}

/* Hero */

.hero {
  grid-column: 1 / -1;
  grid-row: hero;
  display: grid;
  grid-template-columns: inherit;
  align-items: center;
  background-image: linear-gradient(to right, #3fccbb, #31a2bb);
  max-width: 100%;
}

.hero-image {
  grid-column: 1 / 10;
  grid-row: hero;
  overflow: hidden;
  height: 100%;
}

.hero-image img {
  height: 100%;
  max-width: 100%;
  position: relative;
  left: -10px;
  object-fit: cover;
}

.hero-text {
  grid-column: 7 / -1;
  grid-row: hero;
  z-index: 1;
  color: #ffffff;
}

.hero-text p {
  width: 50%;
}

.hero-text button {
  padding: 10px 42px;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  color: #31a2bb;
}

/* Clients */

.clients {
  grid-column: 1 / -1;
  grid-row: clients;
  display: grid;
  align-items: center;
  background-color: #f7f7f8;
}

.client-list {
  display: flex;
  justify-content: space-around;
  margin: 0 5vw;
}

.client-logo {
  text-align: center;
}

.client-logo img {
  width: 50%;
  vertical-align: middle;
}

/* Intro */

.intro {
  grid-row: intro;
}

.intro-text {
  grid-row: 1;
  display: grid;
  justify-items: center;
  text-align: center;
}

.intro-text p {
  width: 50%;
}

.intro-images {
  grid-row: 2;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1em;
  justify-items: center;
  height: 100%;
  padding-bottom: 5vw;
  margin: 0 5vw;
}

.intro-images img {
  align-self: center;
  max-height: 100%;
}

/* Features */

.features {
  grid-row: features;
  background-image: linear-gradient(to right, #44116a, #24bebd);
  color: #ffffff;
}

.feature {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 5em;
  align-items: center;
  margin: 0 10vw;
}

.feature img {
  width: 80%;
  justify-self: center;
}

.enrichment-text {
  grid-column: 1 / span 4;
}

.enrichment img {
  grid-column: 5 / span 4;
}

.reveal-text {
  grid-column: 5 / span 4;
}

.reveal img {
  grid-column: 1 / span 4;
}

/* Uses */

.uses {
  grid-column: 1 / -1;
  grid-row: uses;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: inherit;
}

.uses-text {
  grid-column: 4 / span 4;
  justify-self: center;
  align-self: end;
  text-align: center;
}

.uses-data {
  grid-column: 4 / span 4;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-auto-flow: column;
  height: fit-content;
  border: 2px solid #bde9f3;
  border-radius: 5px;
  margin-top: 10px;
}

.uses-data img {
  align-self: center;
  justify-self: center;
  height: 40px;
  width: 40px;
}

/* Testimonial */

.testimony {
  grid-column: 1 / -1;
  grid-row: testimony;
  display: grid;
  grid-template-columns: inherit;
  background-color: #dcd7d3;
}

.testimony-image {
  grid-column: 1 / -1;
  grid-row: testimony;
  overflow: hidden;
}

.testimony-image img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.testimony-quote {
  grid-column: 5 / -2;
  grid-row: testimony;
  align-self: center;
  z-index: 1;
  padding: 0 10px;
  margin: 0 5vw;
  line-height: 1.7;
}

/* Sign-up */

.sign-up {
  grid-column: 1 / -1;
  grid-row: sign-up;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: inherit;
  background-image: url(../images/world.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sign-up-text {
  grid-column: 3 / span 6;
  justify-self: center;
  align-self: end;
  text-align: center;
}

.sign-up-email {
  grid-column: 5 / span 2;
  display: grid;
  grid-template-columns: 7fr 5fr;
  height: fit-content;
  border: 1px solid #86dfe2;
  border-radius: 5px;
  margin-top: 20px;
}

.sign-up-email input {
  width: 100%;
  border: none;
}

.sign-up-email button {
  padding: 10px 14px;
  border: none;
  background-color: #3cc8bb;
  border-radius: 3px;
  margin: 1px;
  font-size: .5em;
  color: #ffffff;
}